@using Microsoft.Extensions.Hosting.Internal
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello from @Html.Raw(Context.Request.Host)</p>
</div>
